.container div {
    border: 1px solid green
}

.prevSerHistBtn {
    width: 100%;
    text-align: left;
}

.searchBtn {
    width: 100%;

}

.card-body {
    background-color: blue;
}

.city-search-text {
    width: 100%;
}